.tickets
  .title
    %h3 Excavator:
  .info
    %p
      Company name:
      = excavator.company_name
    %p
      Address:
      = excavator.address
    %p
      Crew on site:
      = excavator.crew_on_site
