// Place all the styles related to the Tikets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}
.main {
  opacity: 0.9;
  h1 {
    padding: 15px 30px;
    font-size: 3em;
  }
  .tickets {
    position: relative;
    background: rgba(255, 174, 0, 0.22);
    float: left;
    width: 48%;
    padding: 15px 0px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    .categor_item_cont {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 5px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
    }
    &:hover .categor_item_cont {
      opacity: 1;
    }
    .button_ticket {
      margin: 15px 0px;
    }
    .button_ticket a {
      font-size: 1.5em;
      padding: 10px 44px;
      background: #656565;
      color: #fafafa;
      border-radius: 3px;
    }
    .button_ticket a:hover {
      background: #383333;
    }
  }
  .wrap {
    padding: 0 30px;
  }
}

.item_show {
  z-index: 1000;
  position: absolute;
  width: 400px;
  height: 100%;
  left: 1.1%;
  min-width: 195px;
  background-color: #1a1a1a;
  color: #e3e3e3;
  .tickets {
    background: #1a1a1a;
    float: none;
    font-size: 16px;
    width: 100%;
  }
}
#map {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 260px;
  cursor: default;
}
.item_show .button {
  margin: 15px 0px;
}
.item_show .button a {
  font-size: 1.5em;
  padding: 10px 44px;
  background: #656565;
  color: #fafafa;
  border-radius: 3px;
}
.item_show .button a:hover {
  background: #383333;
}

@media only screen and (max-width: 767px) {
  .main {
    h1 {
      font-size: 2.6em;
    }
    .tickets {
      float: none;
      width: 100%;
      font-size: 16px;
      margin: 0 0 5px 0;
    }
  }
  .item_show {
    h1 {
      font-size: 2.0em;
    }
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    h1 {
      font-size: 2.6em;
    }
    .tickets {
      font-size: 16px;
    }
    .wrap {
      padding: 0 15px;
    }
  }
  .item_show {
    width: 100%;
    height: 50%;
    left: 1.1%;
    bottom: 1.1%;
    h1 {
      padding: 10px 30px;
      font-size: 1.6em;
    }
    .tickets {
      float: left;
      margin: 0;
      width: 50%;
      font-size: 12px;
      padding: 10px 0px;
      border-radius: 0;
    }
    .wrap {
      padding: 0 5px;
    }
  }
  .item_show .button {
    margin: 0;
  }
  .item_show .button a {
    font-size: 1.2em;
    padding: 7px 34px;
  }
}
